<div class="container">
  <div class="title-product">
    <ul>
      <li>
        <p>Cadastrar Produto</p>
      </li>
    </ul>
  </div>

  <form [formGroup]="produtoForm" (ngSubmit)="salvar()" class="form-product">
    <div class="codigo">
      <label for="codigo" class="form-label">Código</label>
      <input type="text" id="codigo" formControlName="codigo" class="form-control" placeholder="Ex: P001">
      <div *ngIf="produtoForm.get('codigo')?.invalid && produtoForm.get('codigo')?.touched" class="text-danger">
        Código é obrigatório.
      </div>
    </div>

    <div class="description">
      <label for="descricao" class="form-label">Descrição</label>
      <input type="text" id="descricao" formControlName="descricao" class="form-control" placeholder="Ex: Caneta Azul">
      <div *ngIf="produtoForm.get('descricao')?.invalid && produtoForm.get('descricao')?.touched" class="text-danger">
        Descrição é obrigatória.
      </div>
    </div>

    <div class="estoq">
      <label for="saldo" class="form-label">Saldo em estoque</label>
      <input type="number" id="saldo" formControlName="saldo" class="form-control" min="0">
      <div *ngIf="produtoForm.get('saldo')?.invalid && produtoForm.get('saldo')?.touched" class="text-danger">
        Saldo deve ser 0 ou maior.
      </div>
    </div>

    <div class="btn-end">
      <button type="button" class="bt-voltar" (click)="voltar()">Voltar</button>
      <button type="submit" class="btn-salvar">Salvar</button>
    </div>
  </form>
</div>
