:root {
  /* ======= Paleta ======= */
  --clr-bg: #f4f6f8;
  --clr-surface: #ffffff;
  --clr-border: #dfe3e8;
  --clr-text: #1a1f36;
  --clr-muted: #6b7280;
  --clr-accent: #0d4194;
  --clr-success: #16a34a;
  --clr-danger: #ef4444;
  --clr-warning: #24afff;
  --clr-secondary: #9ca3af;
  --clr-shadow: rgba(0, 0, 0, 0.06);
}


.container {
  max-width: 700px;
  margin: 0 auto;
  background: var(--clr-surface);
  border-radius: 16px;
  padding: 2.5rem;
  box-shadow: 0 8px 25px var(--clr-shadow);
  transition: all 0.3s ease;

  h3 {
    font-weight: 600;
    color: var(--clr-text);
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    text-align: center;
  }

  .form-nova-nota {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    label {
      font-size: 0.95rem;
      font-weight: 500;
      color: var(--clr-secondary);
      display: block;
      margin-bottom: 0.4rem;
    }

    input {
      border: 1px solid var(--clr-border);
      border-radius: 10px;
      width: 98%;
      background:var(--clr-surface);
      color: var(--clr-text);
      transition: border-color 0.2s ease, box-shadow 0.2s ease;

      &:focus {
        border-color: var(--clr-accent);
        box-shadow: 0 0 0 4px rgba(13, 65, 148, 0.15);
        outline: none;
      }

      &[readonly] {
        background: var(--clr-border);
        color: var(--clr-muted);
        cursor: not-allowed;
        padding: 1em 0 1em 1em;
      }

      &[required] {
        color: var(--clr-muted);
        padding: 1em 0 1em 1em;
      }
    }

    .btn-salvar,
    .btn-cancelar {
      border: none;
      border-radius: 10px;
      padding: 0.7rem 1.4rem;
      font-weight: 500;
      font-size: 0.95rem;
      cursor: pointer;
      transition: all 0.2s ease;
      box-shadow: 0 4px 10px var(--clr-shadow);
      margin-top: 0.8rem;
    }

    .btn-salvar {
      background-color: var(--clr-success);
      color: var(--clr-bg);

      &:hover {
        background-color: #128a3e;
      }
    }

    .btn-cancelar {
      background-color: var(--clr-secondary);
      color: var(--clr-border);

      &:hover {
        background-color: var(--clr-muted);
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1.5em;

    h3 {
      font-size: 1.2em;
    }

    .form-nova-nota {
      gap: 1em;

      .btn-salvar,
      .btn-cancelar {
        width: 100%;
        margin-top: 0.6em;
      }
    }
  }
}